<%= form_for(@profile) do |f| %>


  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert-box error">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<dl class="tabs contained">
  <dd><a href="#simpleContained1" class="active">Basic Profile</a></dd>
  <dd><a href="#simpleContained2">Links & Stuff</a></dd>
</dl>


<ul class="tabs-content contained">

<li class="active" id="simpleContained1Tab">

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %><br />
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %><br />
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>
</li>

  <li id="simpleContained2Tab">

  <div class="field">
    <%= f.label "Google Profile" %>
    <%= f.text_field :gprofile_url %><br />
  </div>
  
  <div class="field">
    <%= f.label "Anchor link text for website" %>
    <%= f.text_field :website_anchor %><br />
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %><br />
  </div>

  <div class="field">
    <%= f.label :twitter %>
    <%= f.text_field :twitter %><br />
  </div>
  
  <div class="field">
    <%= f.label :facebook %>
    <%= f.text_field :facebook %><br />
  </div>
  
  <div class="field">
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin %><br />
  </div>
</li>

</ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
