<li class="profile_block">
  <div class="inner">
    <%= link_to (gravatar_for Member.find(profile.member_id),  :size => '200'), profile  %>
    <div class="profile_info">
      <ul class="cf">
        <li class="member_name"><%= profile.firstname %> <%= profile.lastname %></li>
        <li>Total Projects - <%= Member.find(profile.member_id).projects.count %></li>
        <li>Member Since - <%= profile.created_at.strftime("%B %e, %Y") %></li>
      </ul>
    </div>    
  </div>
</li><!-- End of profile's block -->