
  <div class="profile_header cf">
    <div rel="author" class="profile_name">
      <h2><%= @profile.firstname %> <%= @profile.lastname %></h2>
      <%= render :partial => "profiles/social_links" %>
    </div>

    <div class="profile_gravatar">
        <%= gravatar_for @member, :size => '140' %>
        <%= render 'profiles/profile_links' %>
        <br />
    </div>
  </div>
