
<% title(@member.firstname + " " + @member.lastname.possessive + ' Profile') %>

<% flash.each do |key, value| %>
  <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
<% end %>

<section>
<div class="profile">

  <%= render 'profile_header' %>

  <div class="profile_contact cf">
    
    <h3 class="alignLeft">Contact Information</h3>
    <div class="inner alignRight">
      <p>
        <b>Website:</b>
        <%= link_to @profile.website_anchor, @profile.website %>
      </p>
      <p>
        <b>Twitter:</b>
        <%= @profile.twitter %>
      </p>
      <p>
        <b>Facebook:</b>
        <%= @profile.facebook %>
      </p>
      <p>
        <b>LinkedIn:</b>
        <%= @profile.linkedin %>
      </p>
    </div>
  </div>

  <div class="profile_bio cf">
    <h3 class="alignLeft">Biography</h3>   
    <div class="inner alignRight">
      <p>
        <b>Bio:</b>
        <%= @profile.bio %>
      </p>   
    </div>  

  </div>

  <div class="profile_projects cf">
   <h3 class="alignLeft">Projects</h3> 
   <div class="inner alignRight">
       <div class='project-listing'>
         <%= render :partial => "profiles/projects", :collection => @projects, :as => "project" %>
       </div>
   </div>
  </div>

</div><!-- class=project -->
</section>

