- title(@member.firstname + " " + @member.lastname.possessive + ' Profile')
/ Why is this flash message here?
- flash.each do |key, value|
  = content_tag :div, value, :class => "alert-box success flash #{key}" unless value.blank?
%section
  .profile
    = render 'profile_header'
    .profile_contact.cf
      %h3.alignLeft Contact Information
      .inner.alignRight
        %p
          %b Website:
          - if @profile.website?
            = link_to @profile.website, @profile.website, :class => 'website'
          - else
            %span.non-given no website given
        %p
          %b Google:
          - if @profile.gprofile_url?
            = link_to 'profile', @profile.gprofile_url, :rel => 'me', :class => 'gprofile'
          - else
            %span.non-given no Google profile given
        %p
          %b Twitter:
          - if @profile.twitter?
            = link_to @profile.twitter, 'http://twitter.com/#!/' + @profile.twitter, :class => 'twitter'
          - else
            %span.non-given no Twitter profile given
        %p
          %b Facebook:
          - if @profile.facebook?
            = link_to @profile.facebook, @profile.facebook, :class => 'facebook'
          - else
            %span.non-given no Facebook profile given
        %p
          %b LinkedIn:
          - if @profile.linkedin?
            = link_to @profile.linkedin, @profile.linkedin, :class => 'linkedin'
          - else
            %span.non-given no LinkedIn profile given
    .profile_bio.cf
      %h3.alignLeft Biography
      .inner.alignRight
        %p
          %b Bio:
          = @profile.bio
    .profile_projects.cf
      %h3.alignLeft Projects
      .inner.alignRight
        .project-listing
          = render :partial => "profiles/projects", :collection => @projects, :as => "project"
  / class=project
