<h2> <%= @profile.firstname.possessive %> profile</h2>


<%= flash[:notice] %>

<section>
<div class="profile">
  
<p>
  <%= gravatar_for @member %>
</p>  

<p>
  <b>First name:</b>
  <%= @profile.firstname %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.lastname %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Website:</b>
  <%= @profile.website %>
</p>
<p>
  <b>Twitter:</b>
  <%= @profile.twitter %>
</p>
<p>
  <b>Facebook:</b>
  <%= @profile.facebook %>
</p>
<p>
  <b>LinkedIn:</b>
  <%= @profile.linkedin %>
</p>

  <%= render 'profile_links' %>

</div><!-- class=project -->
</section>

