

<h2>Featured Project</h2>

  <div class="row project">
    <div class="seven columns">
      <div class='listing'>
        <% project = Project.where(:id => 13)[0] %>
        <h3><%= link_to project.name, project, :class => 'project-name' %></h3>
        <p class='project-summary'>
          <span class='label'>Summary</span>
          <%= project.summary %>
        </p>
        <p class='project-tags'>
          <span class='label'>Tags</span>
          <%= project.tags %>
        </p>
      </div>
    </div>
      <div class="three columns offset-by-one">
        <div class="gravatar">
          <%= link_to (gravatar_for Member.find(project.member_id),  :size => '100'),
              '/members/' + project.member_id.to_s %><br />
          <%= link_to project.membername(project.member_id), '/members/' + project.member_id.to_s %>
      </div>
    </div>
  </div>

