<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startdate %><br />
    <%= f.date_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :finishdate %><br />
    <%= f.date_select :finishdate %>
  </div>
  <div class="field" id="summary">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :size => "60x12" %>
  </div>
  <div class="field" id="description">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "60x24"%>
  </div>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label "Link to project" %><br />
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label "Point of contact" %><br />
    <%= f.text_field :pointofcontact %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
