
<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<dl class="tabs contained">
  <dd><a href="#simpleContained1" class="active">The basics</a></dd>
  <dd><a href="#simpleContained2">Describe, in detail</a></dd>
  <dd><a href="#simpleContained3">Links and extras</a></dd>
</dl>

<ul class="tabs-content contained">

<li class="active" id="simpleContained1Tab">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  </div>
  <div class="field date">
    <%= f.label :startdate %>
    <%= f.date_select(:startdate, :start_year => 1990) %><br />
  </div>
  <div class="field date">
    <%= f.label :finishdate %>
    <%= f.date_select(:finishdate, :start_year => 1990, :include_blank => true) %><br />
  </div>
  <div class="field" id="summary">
    <%= f.label :summary %>
    <%= f.text_area :summary, :size => "60x12" %><br />
  </div>
</li>


<li id="simpleContained2Tab">
  <div class="field" id="description">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "60x24"%><br />
  </div>
</li>

<li id="simpleContained3Tab">
  <div class="field" id="requiredskills">
    <%= f.label "Required Skills" %>
    <%= f.text_area :requiredskills, :size => "60x6"%><br />
  </div>
  <div class="field">
    <%= f.label :client %>
    <%= f.text_field :client %><br />
  </div>
  <div class="field">
    <%= f.label "Anchor text for project link" %>
    <%= f.text_field :uri_anchor %><br />
  </div>
  <div class="field">
    <%= f.label "Link to project" %>
    <%= f.text_field :uri %><br />
  </div>
  <div class="field">
    <%= f.label "Point of contact" %>
    <%= f.text_field :pointofcontact %><br />
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %><br />
  </div>
</li>

</ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
