
<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert-box error">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<dl class="tabs contained">
  <dd><a href="#simpleContained1" class="active">Required</a></dd>
  <dd><a href="#simpleContained2">Detailed description</a></dd>
  <dd><a href="#simpleContained3">Links and extras</a></dd>
</dl>

<ul class="tabs-content contained">

<li class="active" id="simpleContained1Tab">

  <div class="field">
    <%= f.label :name %><span class="required-field">*</span><br />
    <%= f.text_field :name %><br />
  </div>
  <div class="field date">
    <%= f.label :startdate %><span class="required-field">*</span><br />
    <%= f.date_select(:startdate) %><br />
  </div>
  <div class="field date">
    <%= f.label :finishdate %><br />
    <%= f.date_select(:finishdate, :include_blank => true) %><br />
  </div>
  <div class="field" id="summary">
    <%= f.label :summary %><span class="required-field">*</span><br />
    <%= f.text_area :summary, :size => "60x12" %><br />
  </div>
  <div class="field">
    <%= f.label :tags %><span class="required-field">*</span><br />
    <%= f.text_field :tags %><br />
  </div>
  <div class="required-field">*Required field</div>
</li>


<li id="simpleContained2Tab">
  <div class="field" id="description">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "60x24"%><br />
  </div>
</li>

<li id="simpleContained3Tab">
  <div class="field" id="requiredskills">
    <%= f.label "Required Skills" %><br />
    <%= f.text_area :requiredskills, :size => "60x6"%><br />
  </div>
  <div class="field">
    <%= f.label :client %><br />
    <%= f.text_field :client %><br />
  </div>
  <div class="field">
    <%= f.label "Anchor text for project link" %><br />
    <%= f.text_field :uri_anchor %><br />
  </div>
  <div class="field">
    <%= f.label "Link to project" %><br />
    <%= f.text_field :uri %><br />
  </div>
  <div class="field">
    <%= f.label "Point of contact" %><br />
    <%= f.text_field :pointofcontact %><br />
  </div>
</li>

</ul>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
