
  <tr>
    <td><%= link_to project.name, project %></td>
    <td><%= project.summary %></td>
    <td><%= project.description %></td>
    <td><%= project.client %></td>
    <td><%= project.tags %></td>
  </tr>