
<% title 'Projects' %>

<h2 class="projects-listing">All Projects</h2>

<% count = 0 %>
<% @projects.each do |project| %>

  <div class="row project">
    <div class="seven columns">
      <div class='listing'>
        <h3><%= link_to project.name, project, :class => 'project-name' %></h3>
        <p class='project-summary'>
         <span class='label'>Summary</span>
         <%= project.summary %>
        </p>
        <p class='project-tags'>
          <span class='label'>Tags</span>
          <%= project.tags %>
        </p>
      </div>
      </div>
      <div class="three columns offset-by-one">
        <div class="gravatar">
          <%= link_to (gravatar_for Member.find(project.member_id),  :size => '100'),
              '/members/' + project.member_id.to_s %><br />
          <%= link_to project.membername(project.member_id), '/members/' + project.member_id.to_s %>
        </div>
      </div>
    </div>
<% count += 1 %>
<% if count == 1 %>
 <%= render 'sales/rowad' %>
<% end %>
<% end %>

<br />
<%= link_to "New Project", new_project_path, :class => "cta cta-yellow" %><br />

