
<% title "Project display" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client %>
</p>

<p>
  <b>Tags:</b>
  <%= @project.tags %>
</p>

<p>
  <%= link_to 'Edit', edit_project_path(@project) %> | 
  <%= link_to 'Destroy', project_path(@project), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Back to list', projects_path %>
</p>
