
<% title @project.name %>


  <% flash.each do |key, value| %>
    <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
  <% end %>


  <%= render 'profiles/profile_header' %>


<section>
<div class="project" itemscope itemtype="http://schema.org/Project">


  <h1 class="name fn" itemprop="name">
    <%= @project.name %>
  </h1>
  

  <div class="profile_summary cf"  itemprop="summary">
    <h3 class="alignLeft">Summary</h3>
    <div class="inner alignRight">
    <%= @project.summary %>
    </div>
  </div>

  <div class="dates cf">
    <h3 class="alignLeft">Dates</h3>
    <div class="inner alignRight">
      <time class="start-date" itemprop="startTime" datetime="<%= @project.startdate.strftime("%Y-%m-%d") %>"><%= @project.startdate.strftime("%B %Y") %></time>
      <em>to </em>
      <time class="end-date" itemprop="endTime" datetime="<%= @project.startdate.strftime("%Y-%m-%d") %>"><%= @project.finishdate.strftime("%B %Y") %></time>
    </div>
  </div>

  <div class="description cf"  itemprop="description">
    <h3 class="alignLeft">Description</h3>
    <div class="inner alignRight">
      <%= @project.description.html_safe %>
    </div>
  </div>

  <% unless @project.requiredskills.blank? %>
  <div class="requiredskills cf">
    <h3 class="alignLeft">Required skills</h3>
    <div class="inner alignRight">
      <%= @project.requiredskills.html_safe unless @project.requiredskills.blank? %>
    </div>
  </div>
  <% end %>

  <% unless @project.client.blank? %>
  <div class="client cf" itemprop="client">
    <h3 class="alignLeft">Client</h3>
    <div class="inner alignRight">
      <%= @project.client %>
    </div>
  </div>
  <% end %>


  <% unless @project.uri.blank? %>
  <div class="uri cf">
    <h3 class="alignLeft">Link to project</h3>
    <div class="inner alignRight">
      <%= link_to @project.uri_anchor, @project.uri %>
    </div>
  </div>
  <% end %>

  <% unless @project.pointofcontact.blank? %>
  <div class="point-of-contact cf">
    <h3 class="alignLeft">Point of contact</h3>
    <div class="inner alignRight">
      <%= @project.pointofcontact %>
    </div>
  </div>
  <% end %>

  <div class="tags cf">
    <h3 class="alignLeft">Tags:</h3>
    <div class="inner alignRight">
      <%= @project.tags %>
    </div>
  </div>

  <%= render 'project_links' %>

</div><!-- class=project -->
</section>

