
<% title "Project display" %>


<section>
<div class="project">
  
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>

<p>
  <b>Dates:</b>
  <%= @project.startdate.strftime("%B %Y") %>
  <em>to </em>
  <%= @project.finishdate.strftime("%B %Y") %>
</p>


<p>
  <b>Description:</b>
  <%= @project.description.html_safe %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client %>
</p>

<p>
  <b>Point of contact:</b>
  <%= @project.pointofcontact %>
</p>

<div class="tags-wrapper">
  <strong>Tags:</strong>
  <div class="tags">
  <%= @project.tags %>
  </div>
</div>

<p>
  <%= link_to 'Edit', edit_project_path(@project) %> | 
  <%= link_to 'Delete', project_path(@project), :confirm => 'Are you sure?', :method => :delete %> |
  
   
  <%= 
  link_to @project.membername(@project.member_id).possessive + ' projects', '/members/' + @project.member_id.to_s  
  %> |

  
  <%= link_to 'All projects', projects_path %>
</p>

</div><!-- class=project -->
</section>

