#signupfree.row.herostyle
  .seven.columns
    #new-main-pitch-text
      %h1
        You.
        %strong
          %em Career exceptional
      %p
        You
        = succeed "," do
          %em get the job done
      %p
        Your career demonstrates
        = succeed "." do
          %em
            specialization
            is overrated
      %p
        Above all:
        = succeed "." do
          %em you don't fit on a resume
      %p
        You need a
        = succeed "." do
          %strong
            %em Portfolio of Accomplishment
  .five.columns.signupfree
    = render 'sales/signupfreebox'
