
<% title('Your Accomplishments Matter') %>

<div class="frontpage">

  <!-- modules a la SMACSS -->

  <%= render 'sales/hero' %>
  <%= render 'sales/maincopy' %>

  <%=
    #render 'sales/offers'
  %>

  <%=
    render 'sales/featured_profiles'
  %>

</div>

<%= link_to "Sign up", new_member_registration_path %>, or 
check out the <%= link_to 'list of projects', projects_path %>
