%footer
  #footer_area.container
    .row
      #footer.twelve.columns
        %p.alignRight.footer-text
          = link_to "Contact", '/contact'
           
          \#{link_to "Privacy", '/privacy'} 
          \#{link_to "Terms & Conditions", '/terms'} 
          \#{link_to "About", '/about'} 
          \#{link_to "FAQ", '/faq'} 
          \#{link_to "Newsletter", '/newsletter'} 
