<div id="full_width_nav_area" class="full_width">
  <div class="page">
    <div id="full_width_nav" class="cf">
      
       <p id="logo"><%= link_to "The Portfolio Project", root_path %></p>    
      
       <nav id="member_nav" class="last">
       <% if member_signed_in? %>
         <% if current_member.profile %>
           <%= link_to "Profile", profile_path(current_member.lastname.downcase) %> |
         <% end %>
         <% if !current_member.projects.empty? %>
           <%= link_to "Projects", member_path(current_member) %> |
         <% end %>
         Signed in as <%= current_member.email %>. Not you?
         <%= link_to "Sign out", destroy_member_session_path %>
       <% else %>
         <%= link_to "Home", root_path %> |        
         <%= link_to "About", '/about' %> | 
         <%= link_to "Sign up", new_member_registration_path %> | 
         <%= link_to "Sign in", new_member_session_path %>
       <% end %>
       </nav>
    </div>
  </div>
</div>