#topbar-asset.container
  .row
    .four.columns
      %p#logo.nav-text= link_to "The Portfolio Project", root_path
    .eight.columns
      %nav#member_nav.alignRight
        - if member_signed_in?
          - if current_member.profile
            = link_to t('views.layouts._nav.my_profile'), profile_path(current_member.lastname.downcase), :rel => 'author'
            |
          - if !current_member.projects.empty?
            = link_to t('views.layouts._nav.my_projects'), member_path(current_member), :rel => 'author'
            |
            = link_to t('views.layouts._nav.all_profiles'), profiles_path |
            - count = Project.count
            = link_to t('views.layouts._nav.all_projects'), projects_path
            |
          = link_to t('views.layouts._nav.settings'), edit_member_registration_path
          |
          #{link_to t('views.layouts._nav.sign_out'), destroy_member_session_path}
        - else
          = link_to t('views.layouts._nav.home'), root_path
          |
          = link_to t('views.layouts._nav.about'), '/about'
          |
          = link_to t('views.layouts._nav.all_profiles'), profiles_path
          |
          - count = Project.count
          = link_to t('views.layouts._nav.all_projects'), projects_path
          |
          \#{link_to t('views.layouts._nav.sign_up'), new_member_registration_path}
          |
          \#{link_to t('views.layouts._nav.foo'), new_member_session_path}
