
<div id="topbar-asset" class="container">
  <div class="row">

    <div class="four columns">
       <p id="logo" class="nav-text"><%= link_to "The Portfolio Project", root_path %></p>
    </div>

    <div class="eight columns">
       <nav id="member_nav" class="alignRight">
       <% if member_signed_in? %>
         <% if current_member.profile %>
           <%= link_to "My Profile", profile_path(current_member.lastname.downcase), :rel => 'author' %> |
         <% end %>
         <% if !current_member.projects.empty? %>
           <%= link_to "My Projects", member_path(current_member), :rel => 'author' %> |
           <% count = Project.count %>
           <%= link_to "All #{count} Projects", projects_path %> |
         <% end %>
         Signed in as <%= current_member.email %> |
         <%= link_to "Sign out", destroy_member_session_path %>
       <% else %>
         <%= link_to "Home", root_path %> | 
         <%= link_to "About", '/about' %> | 
         <% count = Project.count %>
         <%= link_to "All #{count} Projects", projects_path %> |
         <%= link_to "Sign up", new_member_registration_path %> | 
         <%= link_to "Sign in", new_member_session_path %>
       <% end %>
       </nav>
    </div>

  </div>
</div>