<!DOCTYPE html>
<html>
<head>
  <!-- From foundation theme for WP -->
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "Your Accomplishments" %> | Portfolio Project</title>
    <meta name="google-site-verification" content="UPtemx8lzwim6H0JAhLQG-6Tam4H_E1uimeuKTEs0jk" />

    <%= stylesheet_link_tag 'application', :media => 'screen' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="http://use.typekit.com/zac5ngr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tag %>
</head>
<body>
  
  <%= render 'layouts/nav' %>
  <%= render 'layouts/header' %>

  <div class="container">
    <div class="row pages offset-up">
      <div class="twelve columns centered">
        <%= yield %>
      </div><!-- columns -->
    </div><!-- row -->
  </div><!-- container -->

  <%= render 'layouts/footer' %>
  <%= render 'layouts/analytics' %>
</body>
</html>
