
<% title(@member.firstname + " " + @member.lastname) %>

<table class="profile">
  <tr>
    <td class="main">
      <h2>My Projects</h2>
      <% unless @member.projects.empty? %>
        <table class="projects" summary="Member projects">
          <tr>
            <th>Project name</th>
            <th>Summary</th>
            <th>Tags</th>  
           </tr>
           <%= render @projects %>
         </table>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= gravatar_for @member %><br /><br />
      <strong><%= @member.firstname %> <%= @member.lastname %></strong> | 
      <strong> <%= link_to "Profile", @profile %></strong><br />
      <strong>Projects</strong> <%= @member.projects.count %><br />
      <%= link_to 'New Project', new_project_path %><br />
    </td>
  </tr>
</table>
